@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root,
.app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #0f1d2f;
  color: #000;
}

.swiper {
  width: 100%;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  object-fit: contain;
}

.mySwiper2 {
  width: 100%;
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
  height: 100%;
}

.mySwiper .swiper-slide {
  height: 140px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.swiper-button-prev,
.swiper-button-next {
  background-size: contain;
  background-position: 0 0;
  width: 64px;
  display: block;
  height: 64px;
  opacity: 0.5;
  transition: all 0.3s;
}
.swiper-button-next {
  background-image: url('https://metiz.vn/static/assets/websites/images/right-arrow.png') !important;
}
.swiper-button-prev {
  background-image: url('https://metiz.vn/static/assets/websites/images/left-arrow.png') !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}
/* SESSION MOVIES */
.session-movie {
  background: url(@/assets/bgSessionMovie.png) repeat-x center;
}
/* Swiper List tab movie */
.swiperTabMovie .swiper-slide img {
  height: 370px;
  width: 100%;
  object-fit: fill;
}
.swiperTabMovie {
  height: auto;
}
